In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([ [ 1, 2 ], [ 3, 4 ], [ 5, 6 ] ] )
display(df)

   0  1
0  1  2
1  3  4
2  5  6

In [4]:
df.columns = ["X", "Y"]
display(df)

   X  Y
0  1  2
1  3  4
2  5  6

#### dfの行数・列数を表示する。

In [14]:
print(df.shape)

(3, 2)